fastapi==0.115.6
uvicorn[standard]==0.32.1

python-multipart==0.0.9
pydantic==2.10.3

sqlalchemy==2.0.36

celery==5.4.0
redis==5.2.0

opencv-python==4.10.0.84
numpy==1.26.4

librosa==0.10.2.post1
soundfile==0.12.1

reportlab==4.2.5

ultralytics==8.3.35
mediapipe==0.10.18
